@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --ma-couleur-primaire: rgb(39, 21, 73);
  --ma-couleur-secondaire: rgb(249, 208, 82);
  --ma-couleur-tertiaire: rgb(255, 255, 255);
}

html {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Montserrat', arial, sans-serif;
  margin: 0;
}

main {
  flex: 1; /* Pousse footer en bas */
}

/* Media queries globales */
@media screen and (max-width: 480px) {
  .logoID { width: 35%; right: 20px; }
  .logoID svg { width: 60%; }
}

@media screen and (max-width: 768px) {
  .epsiHeader, .epsiText { display: none; }
  .logoID { width: 30%; right: 20px; }
  .logoID svg { width: 50%; }
}

@media screen and (max-width: 1024px) {
  .hero-title { font-size: 4rem; }
  .menu ul { flex-direction: column; align-items: center; }
  .menu li { margin-bottom: 1rem; }
  .logoID { width: 25%; }
  .logoID svg { width: 100%; height: auto; }
}
